.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--flex-gap--big);
    flex-grow: 1;
    max-width: var(--flex-grow-max-item);

    padding: 1rem 0;
    background-color: var(--list-background-color);
    border-radius: 10px;
    border:  3px solid var(--water);
    margin-bottom: 2rem;
}

.form__field-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--flex-gap--big);
}

.form__field-group{
    width: var(--mobile-width);
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap--small);
}

input{
    padding: .5rem;
}


input[type=text]{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    background-color: var(--list-background-color);
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.05);
}

input::placeholder{
    color: var(--normal);
}

.form__button{
    width: 80%;
    padding: .5rem;
    border: none;
    border-radius: var(--border-radius--small);
    background-color: rgb(193, 238, 255);
    border: 2px solid var(--water);
}

.form__button:hover{
    cursor: pointer;
    background-color: aliceblue;
    transition: .2s;
}

.form__button--delete{
    background-color: var(--psychic);
    border: 2px solid var(--poke-dex-red);
    color: white;
}

.form__button--delete:hover{
    color: var(--font-color--black);
    background-color: var(--fairy);
}

.form__label{
    font-size: .7rem;
    color: var(--flying);
}

.form__preview{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.form__preview img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    object-position: center;
    border-radius: 10px;
    border: 2px solid var(--water);
}