header {
  width: 100%;
  background-color: var( --poke-dex-red);
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 500px;
  position: relative;
  position: sticky;
  top: 0;

  padding: .5rem 0;
}

.hidden {
  display: none;
}

.nav-btn{
  background: none;
  border: none;
}

.header__nav {
  position: absolute;
  top: 100%;
  width: 100%;
}

.header__list{
  background-color: brown;
}

.header__item{
  padding: 1rem;
}

.header__item:hover{
  background-color: blanchedalmond;  
}