header{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    position: relative;
    position: sticky;
    top: 0;
}

.hidden{
    display: none;
}

.header__nav{
    position: absolute;
    top: 100%;
}