header {
  width: 100%;
  background-color: var(--poke-dex-red);
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 500px;
  position: relative;
  position: sticky;
  top: 0;

  padding: 0.5rem 0;
}

.nav-btn {
  background: none;
  border: none;
}

.header__nav {
  position: absolute;
  top: 100%;
  width: 100%;
}

.header__list {
  background-color: var(--flying);
}

.header__item {
  padding: 1rem;
}

.header__item a {
  display: flex;
  align-items: center;
  gap: var(--flex-gap--small);
  font-weight: 600;
}

.header__item:hover {
  background-color: rgb(247, 173, 0);
  transition: 0.2s;
}

.header__icon {
  width: 35px;
  height: 35px;
  background-color: white;
  padding: 0.1rem;
  border-radius: 5px;
}
