.pokemon-list {
  width: 90%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: var(--flex-grow-max-item);
  gap: var(--flex-gap--big);
}

.pokemon-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;
  background-color: var(--list-background-color);
  border-radius: var(--border-radius--normal);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
}

.pokemon-list__name {
  font-weight: var(--font-weight--bold);
}

.pokemon-list__types {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap--small);
}

.pokemon-list__type {
  width: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius--small);
  padding: 0.2rem;

  font-size: var(--font-size--small);
  color: white;
}

.grass {
  background-color: var(--grass);
}

.poison {
  background-color: var(--poison);
}

.fire {
  background-color: var(--fire);
}

.normal {
  background-color: var(--normal);
}

.fighting {
  background-color: var(--fighting);
}

.flying {
  background-color: var(--flying);
}

.ground {
  background-color: var(--ground);
}

.rock {
  background-color: var(--rock);
}

.bug {
  background-color: var(--bug);
}

.ghost {
  background-color: var(--ghost);
}

.steel {
  background-color: var(--steel);
}

.water {
  background-color: var(--water);
}

.electric {
  background-color: var(--electric);
}

.psychic {
  background-color: var(--psychic);
}

.ice {
  background-color: var(--ice);
}

.dragon {
  background-color: var(--dragon);
}

.dark {
  background-color: var(--dark);
}

.fairy {
  background-color: var(--fairy);
}
