.trainer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tranier-list__item{
    width: 90%;
    background-color: beige;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    border:2px solid blue;
    border-radius: 10px;

}

.tranier-list__item img{
    width: 200px;
    height: 200px;
}