:root {
  --font-color--black: #333;
  --font-size--small: 0.7rem;
  --font-size--big: 1.2rem;
  --font-weight--bold: 600;

  --flex-grow-max-item: 28rem;
  --flex-gap--big: 1rem;
  --flex-gap--small: 0.5rem;

  --border-radius--normal: 10px;
  --border-radius--small: 5px;

  --water: #5185c5;
  --dragon: #535ca8;
  --grass: #66a945;
  --ghost: #684870;
  --steel: #69a9c7;
  --ice: #6dc8eb;
  --poison: #735198;
  --normal: #949495;
  --ground: #9c7743;
  --bug: #9fa244;
  --flying: #a2c3e7;
  --rock: #bfb889;
  --fairy: #dab4d4;
  --psychic: #dd6b7b;
  --fighting: #e09c40;
  --fire: #e56c3e;
  --electric: #f6d851;
  --poke-dex-red: rgb(214, 0, 0);
  --list-background-color: #fcfcfc;

  --mobile-width: 90%;
}
